@import 
url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    font-family: 'Poppins', sans-serif;
}
body {
	margin: 0;
	background: #222;
	font-weight: 800;
    background-color: aliceblue;
}

.container {
	width: 85%;
	margin: 0 auto; 
}

header {
    background: white;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    flex-wrap: nowrap;
}

nav li {
    flex-wrap: wrap;
    display: inline-block;
    margin-left: 110px;
    padding-top: 44px;
    position: relative;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.submit-button{
    border-color: #7a0041;
    cursor: pointer;
}

.mail{
    width: 100%;
    height: 100%;
    background: linear-gradient(
        135deg,
        #bde0ff,
        #d7ecff,
        aliceblue,
        #d7ecff,
        #bde0ff               
            );   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.inputemail{
    position: relative;
    padding: 50px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}

.gotop{
    margin: 0;
    padding: 0;
    position: fixed;
    width: 45px;
    height: 42px;
    background-color: #fff7f0;
    bottom: 40px;
    right: 40px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    border-radius: 30px;
}

@media screen and (max-width: 1250px){
    nav li{
        margin-left: 90px;
        padding-top: 35.64px;
    }

    .logo{
        width: 182px;
        height: 82px;
    }
}

@media screen and (max-width: 1155px){
    nav li{
        margin-left: 70px;
        padding-top: 27.7px;
    }

    .logo{
        width: 136.5px;
        height: 61.5px;
    }
}

@media screen and (max-width: 965px){
    nav li{
        margin-left: 50px;
        padding-top: 19.8px;
    }

    .logo{
        width: 102.375px;
        height: 46.125px;
    }
}

@media screen and (max-width: 829px){
    nav{
        float: left;
        position: relative;
    }

    nav li{
        margin-left: 30px;
        padding-top: 20px;
    }
}

/*******
 * Location body
  ****** */
#location-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

#location-body > header {
    width: 90vw;
}

/***************************
*        Heading.css
 ***************************/
header{
    background-color: white;
}

li{
    list-style: none;
}

a{
    columns: black;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    z-index: 100;
    position: relative;
    width: -webkit-fill-available;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: dodgerblue;
}

.hamburger{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 5vw;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 10px;
        flex-direction: column;
        background-color: aliceblue;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}